.actividad {
	position: relative;
	padding: 150px 300px;

	.mainTitle {
		text-align: center;
		font-size: 75px;
	}

	.mainImg {
		width: 50%;
		margin: 50px auto;
		position: relative;
	}

	.objetivo {
		font-size: 40px;
		text-align: justify;

		.objetivoStr {
			font-weight: bold;
		}
	}

	.link {
		width: 100%;
		text-align: center;
		padding: 50px;

		.linkDrive {
			font-size: 50px;
		}
	}
}
